ul#select li{
    background-color: lightgrey;
    margin-bottom: 15px;
    padding: 20px;
    color: white;
    list-style-type: none;
}

ul#select{
    padding: 0;
}

ul#select .ui-selected{
    background-color: #F0932b;
}

ul#sort li{
    background-color: #686de0;
    margin-bottom: 15px;
    padding: 15px;
    color: white;
    list-style-type: none;
} 